@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;
  --color-primary: #34C94B;
  --color-black: #121212;
  --color-white: #FFFFFF;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--color-black);
  color: var(--color-white);
}
