@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --theme-green: #34C94B;
  --dark-bg: #121212;
  --white: #FFFFFF;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: var(--dark-bg);
  color: var(--white);
}

* {
  box-sizing: border-box;
}
